@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

/* ================header================= */
/* ***************top bar***************** */
/* selectors */
/* id's */
.social-icons {
  padding: 0.7%;
  color: #fff;
  border-right-color: #fff;
}

#fb :hover {
  color: #4267B2;
}

#fb-m :hover {
  color: #00B2FF;
}

#wa :hover {
  color: #25D366;
}

#tel :hover {
  color: #0088cc;
}

#hotline-container {
  position: fixed;
  display: flex;
  z-index: 999;
  width: 100%;
}

/* classes */
.icons-container {
  width: 100%;
  margin: 0.7%;
  z-index: 1000;
}

.hot-line {
  margin: 0.9% auto 0 auto;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  /* font */
  color: #000;
  font-size: 130%;
}

.hot-line a {
  color: #000;
  text-decoration: none;
}

.hot-line:hover a {
  color: #fff;
  text-decoration: none;
}

.hot-line:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ff7800;
  color: #fff;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1000;
  background-color: #000;
}

/* **************navigation bar********************** */
/* selectors */
/* id's */
#logo {
  width: 11.5rem;
  height: auto;
  margin-left: 10%;
}

/* classes */
.navbar-nav {
  font-size: 1.7rem;
  margin-right: 2rem;
}

.navbar {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 2.5%;
  z-index: 999;
}

.nav-link {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.nav-item {
  width: 12rem;
}

.navbar-collapse {
  text-align: center;
}

.nav-link:hover {
  font-size: 1.70rem;
  color: #fff;
  background-color: #880808;
  border-radius: 10px;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
  margin-bottom: 4.5%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 5px;
  width: 300%;
  background: #000;
  border-radius: 1px;
  opacity: 1;
  right: 20%;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 30px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 60px;
  transform: rotate(0deg);
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(263deg, #880808, #000);
}

/* ******************main************************ */
hr {
  border-top: dotted 5px #ff7800;
  width: 30%;
  position: relative;
  top: 50%;
  text-align: center;
  margin: 10% auto 0 auto;
}

.mainContainer {
  width: 99%;
  position: relative;
  margin-bottom: 20%;
}

.mainContainerImage {
  width: 110%;
}

.para {
  margin: auto;
  padding-left: 10%;
  padding-top: 10%;
}

.para p {
  width: 65%;
  font-size: 1.5rem;
  line-height: 1.5;
}

.left h1 {
  padding: 10%;
  padding-bottom: 0;
  color: #ff7800;
}

.left {
  position: relative;
}

.left img {
  width: 60%;
  margin-left: 40%;
}

.left p {
  width: 60%;
  font-size: 1.5rem;
  margin-top: 10%;
}

.right {
  position: relative;
}

.right img {
  width: 60%;
}

.right p {
  width: 60%;
  font-size: 1.5rem;
  margin-left: 40%;
  margin-top: 10%;
}

/* ###############footer#################### */
.footerContainer {
  position: relative;
  bottom: 0;
  background-color: #000;
  padding: 3%;
  width: 100%;
  color: #fff;
}

.footerContainer a {
  color: #fff;
}

.pressed {
  color: gray;
}

/* ==================================================================================================================== */
/* ###################About################### */
.mainContainerAbout {
  width: 99%;
  position: relative;
  margin-bottom: 20%;
}

.mainContainerImageAbout {
  width: 80%;
  margin-left: 20%;
  margin-top: 15%;
}

#AboutPara {
  margin-top: 5%;
}

#Abuot_red {
  font-size: 1.70rem;
  color: #fff;
  background-color: #880808;
  border-radius: 10px;
}

/* ###################About################### */
/* ==================================================================================================================== */
@media (max-width:1028px) {
  hr {
    border-top: dotted 10px #ff7800;
    width: 30%;
    position: relative;
    top: 10%;
    margin: 0 auto 0 auto;
    margin-top: 10%;
    padding-right: 10%;
  }

  .nav-item {
    padding: 0.5rem;
    width: auto;
  }

  .navbar-nav {
    font-size: 3rem;
    margin-right: 2rem;
    background-color: #fff;
  }

  .nav-link:hover {
    font-size: 2.70rem;
    color: #fff;
    background-color: #880808;
    border-radius: 10px;
  }

  #logo {
    width: 15rem;
    height: auto;
    margin-left: 10%;
  }

  .header {
    bottom: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 4%;
    z-index: 1000;
    background-color: #000;
  }

  .social-icons {
    padding: 2%;
    color: #fff;
    border-right-color: #fff;
  }

  #fb {
    color: #4267B2;
  }

  #fb-m {
    color: #00B2FF;
  }

  #wa {
    color: #25D366;
  }

  #tel {
    color: #0088cc;
  }

  .icons-container {
    width: 100%;
    margin: auto;
    z-index: 1000;
  }

  .hot-line {
    margin: auto;
    margin-bottom: 0; 
    height: 100%;
    width: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    /* font */
    color: #000;
    font-size: 1.70rem;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
  }

  .hot-line a {
    color: #000;
    line-height: 1.5;
    font-size: 2.3rem;
  }

  #hotline-container {
    height: 5%;
    position: fixed;
    display: flex;
    z-index: 999;
    width: 100%;
    bottom: 0;
  }

  .footerContainer {
    position: relative;
    bottom: 3%;
    background-color: #000;
    padding: 3%;
    padding-bottom: 15%;
    width: 100%;
    color: #fff;
  }

  .footerContainer a {
    color: #fff;
  }

  .mainContainer img {
    width: 100%;
    padding-top: 10%;
  }

  .para {
    margin: auto;
  }

  .para p h1 {
    text-align: center;
    width: 65%;
    font-size: 3rem;
    line-height: 1.5;
  }

  .left {
    position: relative;
    padding-top: 5%;
  }

  .left img {
    width: 100%;
    margin-left: 15%;
  }

  .left p {
    width: 100%;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 25%;
  }

  .right {
    position: relative;
    padding-top: 5%;
  }

  .right img {
    width: 80%;
    margin-left: 10%;
  }

  .right p {
    width: 100%;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-top: 25%;
  }

  /* ==================================================================================================================== */
  /* ###################About################### */
  .mainContainerAbout img {
    width: 100%;
    padding-top: 5%;
    margin: auto;
  }

  #AboutPara {
    margin: auto;
    padding-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    line-height: 1.5;
  }

  #Abuot_red {
    font-size: 1.70rem;
    color: #fff;
    background-color: #880808;
    border-radius: 10px;
  }

  /* ###################About################### */
  /* ==================================================================================================================== */
}
